  
    <div fxLayout="row">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="first name">
          </mat-form-field>
    </div>

    <div fxLayout="row">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="last name">
          </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="age">
          </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="phone">
          </mat-form-field>
    </div>
    <div fxLayout="row">
       <button mat-raised-button color="primary">Update</button>
    </div>