
<form #userm= "ngForm">
       
        {{usermodel | json}}
        <div class="form-Group">
           <label>NAME</label>
           <input type="text" required #name ="ngModel" [class.is-invalid]="name.invalid " class="form-control" name="first" [(ngModel)]="usermodel.name">
        </div>
        {{name.untouched}}
        <div class="form-Group">
            <label>class</label>
            <input type="text" class="form-control" name="classes" [ngModel]="usermodel.name">
         </div>
    
         <div class="form-Group">
            <label>school</label>
            <input type="text" class="form-control" name="school" [ngModel]="usermodel.name">
         </div>
    </form>