
<mat-card color="accent" align="center">
    <mat-card-title>
        Reactive Form
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        
        <form [formGroup]="regi" (ngSubmit)="onform(regi.value)" class="example-form">
   
            <p>
    
            <mat-form-field class="example-full-width">
               <input matInput placeholder="First name" formControlName="first">
            </mat-form-field>
            <mat-error >
                    <span *ngIf="!regi.get('first').valid && regi.get('first').touched">plz enetr the first name</span>
                   
                </mat-error>
           </p>

             <p>
      
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Last name" formControlName="last">
             </mat-form-field>
             <mat-error>
                    <span *ngIf="!regi.get('last').valid && regi.get('last').touched">plz enetr the last name</span>
                </mat-error>
           </p>

           <p>
      
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email">
               </mat-form-field>
               <mat-error>
                      <span *ngIf="!regi.get('email').valid && regi.get('email').touched">plz enetr the last name</span>
                  </mat-error>
             </p>
  

           <p>
      
            <mat-form-field class="example-full-width">
            <input matInput placeholder="phone number" formControlName="phone">
            </mat-form-field>
            <mat-error>
                    <span *ngIf="!regi.get('last').valid && regi.get('last').touched">plz enetr the no</span>
                </mat-error>
           </p>

           <p>
            <button  mat-raised-button color="primary">Submit</button>
            <button type="reset" mat-raised-button color="accent">Reset</button>
            <button type="button" (click)="filldata()" mat-raised-button color="warn">filldata</button>
           </p>
      </form>
      
</mat-card-content>


</mat-card>
