mat-sidenav{
    width:280px;
    padding: 15px;

}
.mat-drawer{
     background-color:#023075;
     color:white; 
}
/* .toolbar-spacer{
    flex: 1 1 auto;
} */
.vv{
    flex: 1 1 auto;   
}
a{
    color:white;
    text-decoration: none;
}